<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264313267006-glv5blf78shruq4efta8fciecf04a6ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264313267006-glv5blf78shruq4efta8fciecf04a6ih</string>
	<key>API_KEY</key>
	<string>AIzaSyD80TxpTzw3i_TL8jrZ-hsNsFQV3_LCq8E</string>
	<key>GCM_SENDER_ID</key>
	<string>264313267006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Vile.Dish</string>
	<key>PROJECT_ID</key>
	<string>dish-app-78445</string>
	<key>STORAGE_BUCKET</key>
	<string>dish-app-78445.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:264313267006:ios:2957612ddfb48d38b7426f</string>
</dict>
</plist>
