<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369228913852-8ca4g4jgvir7n33f7r5n4aqgi8km982t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369228913852-8ca4g4jgvir7n33f7r5n4aqgi8km982t</string>
	<key>API_KEY</key>
	<string>AIzaSyABN3QSYrNKUYbXuNteL84NE9ieFlQk9IA</string>
	<key>GCM_SENDER_ID</key>
	<string>369228913852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Vile.DishRecipeApp</string>
	<key>PROJECT_ID</key>
	<string>dish-recipe-app-9fc14</string>
	<key>STORAGE_BUCKET</key>
	<string>dish-recipe-app-9fc14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369228913852:ios:7e1f0cb72951612eeb04b9</string>
</dict>
</plist>